#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  gap: 100px
}

#projects h2 {
  font-size: 3rem;
}


.container__projects {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fill, 330px);
  place-content: center;
  width: 85vw;
  margin: 0 auto;
  gap: 20px;
}

.container {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.image {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f0f0fa9;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 10px;
}

.container:hover .overlay {
  height: 100%;
}


.text {
  color: white;
  font-size: 1.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.animate__projects {
  animation: entryProjects 1s linear;
}

.links__projects {
  color: white;
  font-size: 3.9rem;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.links__projects a:first-child {
  padding-right: 10px;
}

.links__projects a {
  color: white;
}



.links__projects a:hover {
  color: #F64159;
}

.text p {
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

@keyframes entryProjects {
  from {
    opacity: 0;
    transform: translateY(350px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}