#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

#aboutMe h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

#aboutMe h2::selection {
  background-color: #78787878;
}

.animate__textAbout {
  animation: entryText 1s linear;
}

.aboutMe__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
  width: 80vw;
  margin: 0 auto;
  max-width: 1440px;
  gap: 50px;
  place-content: center;
}

.aboutMe__img {
  width: 100%;
  object-fit: contain;
  border-radius: 68% 32% 70% 30% / 51% 57% 43% 49%;
  box-shadow: -5px 5px 10px black;
}

.aboutMe__img::selection {
  background: #78787878;
}

.animated__img {
  animation: entry 1s linear;
}

.aboutMe__text {
  font-size: 1.8rem;
  line-height: 30px;
}

.aboutMe__text p::selection {
  background-color: #78787878;
}

.aboutMe__text p span::selection {
  background-color: #78787878;
}

.aboutMe__text p:nth-child(2) {
  margin-top: 20px;
}

.aboutMe__text p:first-child {
  text-align: justify;
}

@media screen and (max-width: 800px) {
  #aboutMe {
    gap: 40px;
  }
}
