.container__nav {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 999;
  height: 185px;
  width: 48px;
  display: flex;
  justify-content: center;
}

.tooltip__img {
  width: 100%;
}

nav {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 999;
  height: 140px;
  width: 48px;
  gap: 13px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}


.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #294773;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 4px black;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform .5s;
  position: relative;
}

.tooltip:hover {
  transform: scale(1.15);
}

.active {
  background-color: #35DFF2;
  transition: .5s;
  transition-property: color, transform;
}

.tooltip .tooltiptext {
  width: 120px;
  color: #fff;
  text-align: end;
  visibility: hidden;
  position: absolute;
  left: -130px;
  z-index: 777;
  font-size: 1.5rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}