nav {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 999;
  height: 140px;
  width: 48px;
  gap: 13px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}


.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #294773;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 2.2rem;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 3px black;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform .3s;
  position: relative;
}

.active {
  background-color: #F64159;
  transition: .5s;
  transition-property: color, transform;
}

nav a:hover {
  transform: scale(1.2);
}

.tooltip .tooltiptext {
  width: 120px;
  color: #fff;
  text-align: end;
  visibility: hidden;
  position: absolute;
  left: -130px;
  z-index: 777;
  font-size: 1.5rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}