#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  gap: 100px
}

#aboutMe h2 {
  font-size: 3rem;
  padding-top: 40px;
}

.animate__textAbout {
  animation: entryText 1s linear;
}

.aboutMe__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
  width: 80vw;
  margin: 0 auto;
  max-width: 1440px;
  gap: 50px;
  place-content: center;
}

.aboutMe__img {
  width: 100%;
  object-fit: contain;
  border-radius: 68% 32% 70% 30% / 51% 57% 43% 49%;
  box-shadow: -5px 5px 10px black;
}

.animated__img {
  animation: entry 1s linear;
}

.aboutMe__text {
  font-size: 1.8rem;
  line-height: 30px;
}

.aboutMe__text p:nth-child(2) {
  margin-top: 20px;
}
