#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  gap: 100px
}

#aboutMe h2 {
  font-size: 3rem;
}

.animate__textAbout {
  animation: entryText 1s linear;
}

.aboutMe__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 480px));
  width: 80vw;
  margin: 0 auto;
  max-width: 1440px;
  gap: 50px;
  place-content: center;
}

.aboutMe__img {
  width: 100%;
  object-fit: contain;
  border-radius: 68% 32% 70% 30% / 51% 57% 43% 49%;
  box-shadow: -5px 5px 10px black;
}

.animated__img {
  animation: entry 1s linear;
}

.aboutMe__text {
  font-size: 1.8rem;
  line-height: 30px;
}

.aboutMe__text p:nth-child(2) {
  margin-top: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  transition: .5s;
}


.skills__container {
  display: grid;
  padding-top: 20px;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, 80px);
  gap: 10px;
  place-content: center;
}

.skills__container figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-property: transform;
  transition-duration: .5s;
}

.skills__container figure:hover {
  transform: scale(1.3);
}

.skills__container figure figcaption {
  text-align: center;
}

/* @keyframes entry {

  from {
    transform: rotate(360deg) scale(0)
  }

  to {
    transform: rotate(0deg) scale(1);
  }

}


@keyframes entryText {
  from {
    opacity: 0;
    transform: translateX(-350px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }

} */