.icon {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.skills__container {
  display: grid;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
  place-content: center;
}

.skills__container figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-property: transform;
  transition-duration: 0.5s;
}

.skills__container figure:hover {
  transform: scale(1.15);
}

.skills__container figure figcaption {
  text-align: center;
}

.skills__container figure img::selection,
.skills__container figure figcaption::selection {
  background: #78787878;
}
